.hero-image {
    border-radius: 9px;
    width: 300px;
}

.hero p {
    margin:5px
}

.hero-rating {
    display: flex;
    align-items: center;
}

.hero-rating > * {
    padding: 5px;
}

.count-label {
    background-color: #FFFFFF;
    float: left;
    position: absolute;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 2px;
}